body{
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: ;
}
.title{
	border-bottom: 1.5px solid #ececec;
}
.facturation-item{
	margin-top: 15px;
	border-bottom: 1.5px solid #ececec;	
}