body{
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
}
.modalite-heading, .compte-heading{
	color: #007CA4;
    padding: 7px 10px;
    border-bottom: solid 1px silver;
}
.paiement, .ristourne{
	margin-top: 15px;
	padding-bottom: 15px;
	border-bottom: solid 1px silver;	
}
.compte-body{
	margin-top: 15px;
	padding-bottom: 15px;
}
.anticipation, .modede-paiement{
	margin-bottom: 5px;
}
.bd-silver{
	border: solid 1px silver;
}
.modede-paiement-select{
	width: 100%;
	text-align-last: center;
}