.tooltipster-sidetip.tooltipster-borderless.tooltipster-borderless-customized .tooltipster-box {
	background: rgba(64,64,64,.8);
	border-radius: 2px;
}

.tooltipster-sidetip.tooltipster-borderless.tooltipster-borderless-customized .tooltipster-content {
	
}
.tooltipster-sidetip.tooltipster-borderless.tooltipster-borderless-customized.tooltipster-top .tooltipster-arrow-border {
	border-top-color: rgba(64,64,64,.8);
}
.tooltipster-sidetip.tooltipster-borderless.tooltipster-borderless-customized.tooltipster-bottom .tooltipster-arrow-border {
	border-bottom-color: rgba(64,64,64,.8);
}
.tooltipster-sidetip.tooltipster-borderless.tooltipster-borderless-customized.tooltipster-right .tooltipster-arrow-border {
	border-right-color: rgba(64,64,64,.8);
}
.tooltipster-sidetip.tooltipster-borderless.tooltipster-borderless-customized.tooltipster-left .tooltipster-arrow-border {
	border-left-color: rgba(64,64,64,.8);
}